extends layout

block software_engineer
  p Ускоро ћу бити софтверски инжењер!
  img(src="/images/earth.jpg"
      alt="Планета Земља"
      title="Планета Земља")

block greeting
  h1 Здраво свете!

block page_title
  title Ово је наслов странице